@page "/chat"
@using ComputingProject.Client.Services
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveWebAssembly
@inject ISnackbar Snackbar
@inject ChatHubClientService ChatService
@inject ChatHubServerProxy ChatServer

@if (ChatServer.IsConnected)
{
    <div class="d-flex flex-column flex-grow-1 gap-4" style="height: 84vh">
        <MudPaper MinHeight="95%" Class="overflow-auto" id="chatscroll">
            @foreach (var message in messages)
            {
                if (message.systemMessage)
                {
                    <MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Info" Dense="true">@message.message</MudAlert>
                }
                else
                {
                    if (message.user == UserInput)
                    {
                        <MudChat Color="Color.Info" ChatPosition="ChatBubblePosition.End">
                            <MudChatHeader Name="@message.user" />
                            <MudChatBubble>@message.message</MudChatBubble>
                        </MudChat>
                    }
                    else
                    {
                        <MudChat Color="Color.Secondary" ChatPosition="ChatBubblePosition.Start">
                            <MudChatHeader Name="@message.user" />
                            <MudChatBubble>@message.message</MudChatBubble>
                        </MudChat>
                    }
                }
            }
        </MudPaper>
        <MudPaper Height="10%" Class="h-10">
            <div class="d-flex flex-grow-1 gap-4">
                <MudPaper Width="89%">
                    <MudTextField @bind-Value="MessageInput" Immediate="true" Variant="Variant.Outlined" @onkeydown="@Enter" Label="Message"/>
                </MudPaper>
                <MudPaper Width="10%" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="Send">Send Message</MudButton>
                </MudPaper>
            </div>
        </MudPaper>
    </div>
}
else
{
    <MudText Typo="Typo.h2">Welcome to freaking awesome chat</MudText>
    <MudPaper Class="d-flex flex-grow-1 gap-4 flex-column">
        <MudTextField Margin="Margin.Normal" Class="flex" @bind-Value="UserInput" Variant="Variant.Outlined" Label="Name"/>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConnectToHub">Connect to Chat server</MudButton>
    </MudPaper>
}

@code {
    
    private List<Message> messages = new List<Message>();
    private string UserInput { get; set; }
    private string MessageInput;

    public async Task ConnectToHub()
    {
        
        ChatService.OnMessageReceived += (puser, pmessage, system) =>
        {
            Message message = new Message()
            {
                user = puser,
                message = pmessage,
                systemMessage = system
            };
            messages.Add(message);
            
            StateHasChanged();
            
            // JSRuntime.InvokeVoidAsync("scrollToBottom", "chatscroll");
        };
        
        await ChatService.StartAsync();
        
        await ChatServer.SendMessage(UserInput, UserInput + " has joined the chat!", true);

        Console.WriteLine(ChatServer);
        Console.WriteLine(ChatService);
        
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Add("Successfully connected to chat", Severity.Success);
    }

    async Task Send()
    {
        if (string.IsNullOrWhiteSpace(MessageInput)) return;
    
        var tempMessage = MessageInput;
        MessageInput = string.Empty; // Clear input before sending
        StateHasChanged(); // Ensure UI updates before sending the message

        await ChatServer.SendMessage(UserInput, tempMessage, false);
    }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Send();
        }
    }

    public struct Message
    {
        public string user;
        public string message;
        public bool systemMessage;
    }

}